body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
  color: #151316;
  font-size: 1.5rem;
  margin: 5px;
}

.subheader-text {
  margin: 5px;
  color: #151316;
  font-size: 1.3rem;
}

.bodyText {
  color: #151316;
  font-size: 1rem;
  margin: 10px 10px 10px 10px;
}